
*{
	padding:0;
	margin:0;
	border:0;
	box-sizing :border-box;
}
/* *****************************Header Start **********************************************/
.container{
	width:1014px;
	margin:0 auto;
}
.nav-bg {
	background-color:#4b96a1;
}
.header-t{
	float:left;
	color:#ffffff;
	font-size:40px;
	padding:34px 0px 24px 0;
}
.nav{
	float:right;
	padding:42px 0 33px 0;
}
.nav li{
	float:left;
	list-style-type:none;
	padding:0 24px;
}
.nav a{
	text-decoration:none;
	color:#000000;
	font-size:18px;
}
.clear{
	clear:both;
}
/* *****************************Header End ***********************************************/
/* *****************************Banner Start ***********************************************/

.banner-img img{ 
	width:100%; 
}
.banner{
	position:relative;
}
.banner-text{
	top:129px;
	position:absolute;
	text-align:center;
}
.banner-text h2{
	padding-left:300px;
	padding-right:300px;
	color:#e4e4e4;
	font-size:44px;
	padding-bottom:46px;
	text-align:center;
}
.banner-text a{
	color:#e4e4e4;
	font-size:30px;
	text-decoration:none;
	border:3px solid #afb1b4;
	border-radius:5px;
	padding:12px 46px;
}
/* *****************************Banner End ***********************************************/
 /* ******************************** Product start*************************************** */
.product-text{
	padding-top:79px;
	padding-bottom:71px;
}
.product-text h4{
	text-align:center;
	font-size:30px;
	color:#4c505d;
	padding-left:300px;  
	padding-right:300px; 
}
.product-text p{
	text-align:center;
	font-size:14px;
	color:#4c505d;
	padding-left:203px; 
	padding-top:41px; 
	padding-right:210px; 
}
.product-img div{
	padding-bottom:73px;
	float:left;
}
.img1{
	padding-left:400px;
}
.img2{
	padding:0 127px;
}
/* ******************************** Product end*************************************** */
/* ******************************** info start*************************************** */
.info-sec{
	background-color:#00d089;
}
.info-img{
	padding-top:102px;
}
.dhavan-img{
	text-align:center;
	float:left;
	padding-left:555px;
	padding-right:37px;
}
.dhavan-img2 h4{
	padding-bottom:15px;
	color:#e4e4e4;
	font-size:26px;
}
.dhavan-img2 img{
	float:left;
	opacity:0.3;
}
.info-text{
	padding-top:62px;
	color:#ddf6ea;
	font-size:18px;
	padding-left:190px;
	padding-right:90px;
	padding-bottom:88px;
}
/* ******************************** info end*************************************** */
/* ********************************Map start ***************************************/
.map-img {
	width:100%;
}
.circle {
	height:430px;
	width:430px;
	background-color:#fdfdfd;
	border-radius:50%; 
	text-align:center; 
	position:absolute;
	top: 1500px;
	opacity:0.7;
	margin-left:400px;
}
.name{
margin-top:112px;
	height:31px;
	width:275px;
	border:1px solid #d8d8d8;
    margin-bottom:14px;
}
.name1{
	height:31px;
	width:275px;
	border:1px solid #d8d8d8;
    margin-bottom:14px;
}
.msg{
	height:80px;
	width:275px;
	border:1px solid #d8d8d8;
}
.circle img{
	margin-top:31px;
}
/* *********************************Map end***************************************/
/* *********************************End******************************************/
.last{
	text-align:center;
	font-size:14px;
	background-color:#00d089;
	padding-top:13px;
	padding-bottom:16px;
	color:#ffffff;
}
/* *********************************End*******************************************/